// Global color variables
$peach : #E7816B;
$black : #1D1C1E;
$white : #FFFFFF;
$lightPeach : #FFAD9B;
$darkGrey : #333136;
$lightGrey : #F1F3F5;

// Global heading and body styles
.heading1, .heading2, .heading3 {
    font-weight: 500;
}

.heading1 {
    font-size: 48px;
    line-height: 48px;
}

.heading2 {
    font-size: 40px;
    line-height: 48px;
}

.heading3 {
    font-size: 20px;
    line-height: 26px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

// Global peach box on all page
.peach-box {
    background: url('../assets/shared/desktop/bg-pattern-call-to-action.svg') center center no-repeat;
    background-position: 100%;
    background-color: $peach;
}