@use 'App';

#contact-container {
    background-color: App.$peach;
    color: App.$white;
    border-radius: 15px;
    position: relative;
    overflow-y: hidden;
    #contact-text {
        display: flex;
        justify-content: center;
        align-items: center;
        .circle-container {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    form {
        padding: 55px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .row {
            width: 90%;
            border-bottom: 1px solid #FFFFFF;
            input, textarea {
                background-color: transparent;
                border: none;
                color: #FFFFFF;
                &::placeholder {
                    color: #FFFFFF;
                }
                &:focus {
                    box-shadow: none;
                }
            }
            textarea {
                resize: none;
            }
        }
        .errorBox {
            display: flex;
            align-items: center;
            p {
                font-size: 12px;
                font-style: italic;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 0;
                margin-right: 8px;
            }
        }
        #form-button {
            border-bottom: none;
            .col {
                display: flex;
                justify-content: flex-end;
                padding: 0;
            }
            button {
                padding: 17px 48px;
                color: App.$black;
                background-color: App.$white;
                border: none;
                &:active {
                    background-color: App.$lightPeach;
                    color: App.$white;
                }
            }
        }
    }
}

// Tablet
@media only screen and (max-width: 992px) {
    #contact-container {
        padding: 71px 58px;
        #contact-text {
            width: 100%;
            .circle-container {
                top: -10%;
            }
        }
        form {
            position: relative;
            padding-bottom: 0;
            .row {
                width: 100%;
            }
            #form-button {
                margin-bottom: 0;
            }
        }
    }
}
// Phone screen
@media only screen and (max-width: 576px) {
    #contact-container {
        position: relative;
        overflow-x: hidden;
        padding: 72px 24px;
        border-radius: 0;
        .circle-container{
            position: absolute;
            left: -25%;
            top: 0;
        }
        #contact-text {
            overflow-x: hidden;
            z-index: 1;
            p {
                font-size: 15px;
                line-height: 25px;
                text-align: center;
            }
            .heading1 {
                font-size: 32px;
                line-height: 36px;
                padding-top: 72px;
            }
        }
        form {
            position: relative;
            align-items: center;
            z-index: 1;
            input::placeholder, textarea::placeholder {
                opacity: 0.5;
            }
            #form-button .col {
                justify-content: center;
            }
        }
    }
}