@use 'App';

#countries {
    margin: 160px 0;
    .row > div {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin-top: 48px;
            margin-bottom: 32px;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 5px;
        }
        button {
            background-color: App.$peach;
            border: none;
            padding: 18px;
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 1px;
        }
    }
    .country-icon {
        position: relative;
        .circle {
            position: absolute;
        }
    }
}

// Tablet
@media only screen and (max-width: 992px) {
    #countries {
        margin: 120px 0;
        & > div:not(:first-child) {
            margin-top: 80px;
        }
    }
}

// Mobile
@media only screen and (max-width: 576px) {
    #countries {
        margin: 120px 0;
        & > div {
            margin-bottom: 48px;
        }
    }
}