@use 'App';

// Top peach box
.design-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 190px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 160px;
}

// Card
#cards {
    & > div {
        margin-bottom: 16px;
    }
    .card {
        background-color: #FDF3F0;
        border: none;
        border-radius: 15px;
        cursor: pointer;

        &:hover {
            background-color: App.$peach;
            color: App.$white;

            .card-title {
                color: App.$white;
            }
        }
    }
    .card-body {
        text-align: center;
        padding: 16px 32px;

        .card-title {
            color: App.$peach;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 5px;
        }
    }
}

// Other design cards
#other-designs {
    margin-top: 160px;
    .card {
        border-radius: 15px;
        cursor: pointer;
    }
    .card-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
        color: App.$white;
        font-weight: 500;
        text-transform: uppercase;
    
        .card-title {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 2px;
        }
        .card-text {
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 5px;
        }

        span {
            color: App.$peach;
        }

        &:hover {
            background-color: rgba($color: App.$peach, $alpha: 0.8);
            color: App.$white;
        }
    }
}

// Mobile
@media only screen and (max-width: 576px) {
    .design-box {
        padding: 105px 24px;
        border-radius: 0;
    }
    #cards {
        justify-content: center;
        & > div {
            margin-bottom: 40px;
        }
    }
    #other-designs {
        display: flex;
        justify-content: center;
        & > div {
            margin-top: 24px;
        }
    }
}