@use 'App';

#footer {
    background-color: App.$black;
    color: App.$white;
    display: flex;
    align-items: center;
    padding-top: 64px;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba($color: App.$white, $alpha: 0.1);
        padding-bottom: 40px;
        .image-container {
            width: 197px;
            img{
                width: 100%;
                padding-left: 0;
            }
        }
        .nav-links {
            width: 370px;
            display: flex;
            justify-content: space-between;
            padding-right: 0;
            p{
                margin-bottom: 0;
            }
        }
    }
    .contact {
        opacity: 0.5;
        margin-top: 31px;
        p {
            margin-bottom: 0;
        }
    }
    #links {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        img {
            margin-left: 16px;
        }
    }
}

// Mobile
@media only screen and (max-width: 576px) {
    #footer {
        .nav {
            flex-direction: column;
            border-bottom: 0;
            padding: 0;
            .image-container {
                width: 90%;
                border-bottom: 1px solid rgba($color: App.$white, $alpha: 0.1);
                padding-bottom: 32px;
                justify-content: center;
                img {
                    width: 197px;
                }
            }
            .nav-links {
                flex-direction: column;
                align-items: center;
                p {
                    margin-top: 32px;
                }
            }
        }
        .contact {
            display: flex;
            flex-direction: column;
            .col {
                margin-top: 40px;
            }
            .col > div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            #links {
                justify-content: center;
            }
        }
    }
}