@use 'App';

#peach-project-box {
    border-radius: 15px;
    padding: 72px 95px;
    color: App.$white;
    display: flex;
    align-items: center;
    margin-top: 160px;
    margin-bottom: -52px;
    z-index: 2;
    position: relative;

    button {
        width: 152px;
        height: 56px;
        background-color: App.$white;
        color: App.$darkGrey;
        border: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 1;

        &:hover {
            background-color: App.$lightPeach;
            color: App.$white;
        }
    }
}

// Mobile
@media only screen and (max-width: 576px) {
    #peach-project-box {
        padding: 64px 24px;
        text-align: center;
        width: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}