@use 'App';

// contact information
.row {
    margin-bottom: 32px;
}
.contact-box {
    background-color: #FDF3F0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .circle {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .heading2 {
        color: App.$peach;
    }
    .info {
        width: 540px;
        min-width: 100%;
        display: flex;

        div {
            width: 50%;
            margin-right: 30px;
            p {
                margin: 0;
            }
        }
    }
}

// map image
.image-container {
    display: flex;
    justify-content: flex-end;
    .map {
        border-radius: 15px;
    }
}

// Mobile
@media only screen and (max-width: 576px) {
    .row {
        margin-bottom: 40px;
        div {
            padding: 0;
        }
    }
    .contact-box {
        border-radius: 0;
        overflow: hidden;
        > div {
            padding: 80px 24px;
        }
        .circle {
            top: 0;
        }
        .heading2 {
            font-size: 32px;
            line-height: 36px;
        }
        .info {
            display: block;
            width: 100%;
            text-align: center;
            div {
                width: 100%;
            }
            .office {
                margin: 24px 0;
            }
        }
    }
    .image-container {
        .map {
            border-radius: 0;
            width: 100%;
        }
    }
}