@use 'App';

#projects {
    margin-top: 160px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;


    // Image styling with grid
    div {
        padding: 0;
        cursor: pointer;
        position: relative;
        height: 100%;

        // Overlay
        .overlay {
            color: App.$white;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: App.$peach;
                opacity: 0.8;
                span {
                    color: App.$lightPeach;
                }
            }
            p:nth-of-type(1) {
                letter-spacing: 2px;
            }
            p:nth-of-type(2) {
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 22px;
            }
            span {
                color: App.$peach;
            }
        }
        &:hover {
            .overlay {
                display: flex;
            }
        }
    }
    div, img, p {
        border-radius: 15px;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .row-2 {
        grid-row: 1 / span 2;
    }
    .project-last {
        margin-top: auto;
    }
}

@media only screen and (max-width: 992px) {
    #projects {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        .row-2 {
            grid-row: 1;
        }
        div.overlay {
            display: block;
            background-color: App.$black;
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: App.$black;
                opacity: 0.8;
            }
            .heading2 {
                font-size: 28px;
                line-height: 36px;
                letter-spacing: 1.4px;
            }
            p:not(.heading2) {
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 5px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #projects {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        .row-2 {
            grid-row: 1;
        }
    }
}

@media only screen and (max-width: 576px) {
    #projects {
        padding: 0 10px;

        div.overlay {
            display: block;
            background-color: App.$black;
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: App.$black;
                opacity: 0.8;
            }
            .heading2 {
                font-size: 28px;
                line-height: 36px;
                letter-spacing: 1.4px;
            }
            p:not(.heading2) {
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 5px;
            }
        }
    }
}