@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Jost', normal;
}

#leaf-image-left {
  position: absolute;
  top: 475px;
  left: 0;
  background: url('../src/assets/shared/desktop/bg-pattern-leaf.svg') center center no-repeat;
  background-size: cover;
  width: 1006px;
  height: 594px;
  z-index: -1;
}

#leaf-image-right {
  position: absolute;
  bottom: 100%;
  right: 0;
  background: url('../src/assets/shared/desktop/bg-pattern-leaf.svg') center center no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  width: 1006px;
  height: 594px;
  z-index: -1;
}

/* Tablet */
@media only screen and (max-width: 992px) {
  #leaf-image-left, #leaf-image-right {
    display: none;
  }
}